<app-header [title]="title + ' Page'"></app-header>
<div class="container my-3">
  <!-- Page Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3>{{ title }}</h3>
  </div>

  <!-- Search and Sort -->
  <div class="row g-3 mb-4">
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search photos"
        [(ngModel)]="params.filter"
        (input)="onFilterChange()"
      />
    </div>
    <div class="col-md-3">
      <select
        class="form-select"
        [(ngModel)]="params._sort"
        (change)="onSortChange()"
      >
        <option value="" disabled selected>Sort By</option>
        <option value="title">Title</option>
      </select>
    </div>

    <div class="col-md-3">
      <select
        class="form-select"
        [(ngModel)]="params._order"
        (change)="onSortChange()"
      >
        <option value="" disabled selected>Sort Direction</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
    </div>
  </div>

  <!-- Post Grid -->
  <div class="row g-4">
    @for (photo of photos; track photo.id) {
    <div class="col-md-3 col-lg-2">
      <div class="card shadow-sm border-0 h-100 text-center">
        <div class="card-body">
          <a [routerLink]="['/photos', photo.id]" class="text-decoration-none">
            <i class="bi bi-link-45deg d-flex justify-content-end"></i
          ></a>

          <h6 class="card-title fw-normal text-start ellipsis-lines">
            {{ photo.title }}
          </h6>
          <img
            [src]="photo.thumbnailUrl"
            class="img-fluid rounded"
            [alt]="photo.title"
          />
        </div>
      </div>
    </div>
    } @empty {
    <p>There are no posts.</p>
    }
  </div>

  <!-- Pagination -->
  <app-pagination
    [currentPage]="params._page"
    [pageSize]="params._limit"
    [totalCount]="totalCount"
    (pageChangeEvent)="onPageChange($event)"
  ></app-pagination>
</div>
